body{
    background-color: rgb(241, 241, 241);
    margin: 0;
    overflow-x: hidden;
    font-family: 'Bungee', cursive;
}
:root{
    --textcolor: rgb(95, 35, 16);
}
#icon{
    width: 4vw;
    top: .2vw;
    left: 1vw;
    background-color: white;
}
#header{
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: .5vw;
    z-index: 5;
    width: 100vw;
    box-shadow: 0px 5px 5px rgb(143, 143, 143);
}
.stuffinheader{
    text-align: center;
    margin: 0;
    color: rgb(105, 66, 53);
    font-size: 1vw;
    margin-left: 1.5vw;
    font-family: 'Bungee', cursive;
    background-color: transparent;
    border: 0;
}
.stuffinheader:hover{
    scale: 120%;
}
#dinoimg{
    /* width: 100vw; */
    margin-top: -1vh;
    z-index: -1;
    width: 92vw;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: #dde3a4; */
    /* margin-left: 10vw; */
    padding: 4vw;
    padding-bottom: 2vw;
    
}
#homepagenextbutton{
    background-color: transparent;
    color: rgb(105, 66, 53);
    border: none;
    font-size: 3vw;
    font-family: 'Bungee', cursive;
    margin-top: -4vw;
    margin-left: 22vw;
    transition-duration: .2s;
    height: 6.5vw;
}
#homepagenextbutton:hover{
    scale: 120%;
}
#homepagenextbutton:not(:hover){
    scale: 100%;
}
#homepagetext{
    position: absolute;
    top: 7.5vw;
    color: rgb(105, 66, 53);
    font-size: 2.5vw;
    margin-left: 3vw;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: .5vw .3vw 0px rgb(143, 143, 143);
    padding: 1vw;
    border-radius: 30px;
    padding-top: 0;
    padding-bottom: 0;
    right: 13vw;
}
#subtext{
    margin-top: -2vw;
    font-size: 1vw;
    width: 28vw;
}
#homepage{
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
}
#con{
    display: flex;
    flex-direction: column;
}
#adslmao{
    display: flex;
    /* background-color: white; */
    margin-top: -3.5vw;
    color: var(--textcolor);
    padding: 2.5vw;
    padding-top: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1vw;
}
.thesenamesdontmakesenseimsorry{
    color: rgb(105, 66, 53);
    font-family: 'Inconsolata', monospace;
}
#subtitle1{
    font-size: 2vw;
    margin-bottom: 0;
    font-family: 'Bungee', cursive;
    margin-top: 2vw;
    font-size: 2vw;
    margin-bottom: 1.3vw;
}
#dndstartersetpic{
    width: 20vw;
}
#subtext2{
    font-size: 1vw;
    margin: 0;
}
h1{
    padding: 0;
    margin: 0;
}
#createyourcharacterbtn2{
    font-size: .7vw;
    font-family: 'Bungee', cursive;
    color: var(--color);
    --b: .15vw;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: rgb(163, 103, 35);
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    border: 0;
    transition-duration: .2s;
    margin-top: .8vw;
}
#createyourcharacterbtn2:hover{
    scale: 110%;
}
#createyourcharacterbtn2:not(hover){
    scale: 100%;
}