body{
    background-color: rgb(244, 250, 255);
    margin: 0;
}
:root{
    --textcolor: rgb(71, 27, 12);
}
#heading{
    position: absolute;
    width: 100vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -49%);
    font-family: 'Bungee', cursive;
    /* font-family: 'VT323', monospace; */
    color: var(--textcolor);
    font-size: 2vw;
    animation: bob .50s ease-out infinite;
}
@keyframes bob{
    0% {
        top: 7vh;
      }
    50%{
        top: 7.25vh;
    }
    100%{
        top: 7vh;
    }
}
#carrotcastle{
    position: absolute;
    height: 75vh;
    left: 50%;
    transform: translate(-50%, -49%);
    z-index: 1;
    bottom: -35vh;
}
#grass{
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
  }
  